*{
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --navbarheight: 10vh;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 11vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


body{
    margin-top: 10vh;
}

.topbar-mobile{
    display: none;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

header img{
    position: fixed;
    top: 1vh;
    left:2vh;
    z-index: 10;
    /* height: 70px; */
    height:8vh;
}

header nav{
    position: absolute;
    /* margin: 10px auto 0; */
    top: 0px;
    right: 10px;
    /* left: 0px; */
    text-align: end;
    width: 100%;
    border-radius: 10px;
    height: var(--navbarheight);
    min-height: 16px;
    background: #FFFFFF;
    font-size: 0;
    box-shadow: 0 3px 0 0 rgba(50, 50, 50, 0.2);
}

.nav-item{
    font-size: 2vh;
    font-weight: 600;
    min-width: 100px;
    text-transform: uppercase;
    color: #1B69B4;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 0px;
    text-decoration: none;
    line-height: var(--navbarheight);
    z-index: 1;
    display: inline-block;
    text-align: center;
}


header nav .animate{
    position: absolute;
    height: 80%;
    padding-right: 10px;
    padding-left: 10px;
    top: 10%;
    bottom: 10%;
    z-index: 0;
    background: #FDB717;
    border-radius: 8px;
    border: 1px solid #222D5B;
    transition: all 0.4s ease 0s;
}

header a:nth-child(n){
    width: 150px;
}


header nav .top-bar,a:nth-child(1):hover~.animate{
    right: 510px;
    min-width: 150px;
}

header nav .top-bar,a:nth-child(2):hover~.animate{
    right: 340px;
    min-width: 150px;
}

header nav .top-bar,a:nth-child(3):hover~.animate{
    right: 170px;
    min-width: 150px;
}

header nav .top-bar,a:nth-child(4):hover~.animate{
    right: 0px;
    min-width: 150px;
}




#check{
    display: none;
}

.show-menu-btn{
    transition: 0.4s;
    font-size: 7vh;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 5vh;
    top: 2vh;
}

.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #FDB717;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -10;
}




/*HEADER SECTION : NAVIGATION BAR*/




#home-section{
    position: absolute;
    top: var(--navbarheight);
    width: 100vw;
    background-repeat: no-repeat;
    top: 10vh;
    height: 100%;
    background-image: url("banner01.png");
    background-size: cover;
}

.specc{
    position: relative;
    top: 10vh;
    left: 10vh;
    height: 60%;
    width: 30%;
}




/* HOME SECTION */




#services-section{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 111vh;
}

.services-header{
    font-size: 5vh;
    color: #222D5B;
    margin-left: 8vh;
    margin-top: 2vh;
}

.services-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    justify-items: center;
    grid-gap: 50px;
    text-align: center;
    /* font-size: 24px; */
    font-size: 2vh;
    font-weight: 400;
    color: #222D5B; 
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    margin-bottom: 100px;
}

.services-card{
    background-color: #FDB717;
    border-radius: 20px;
    border: 2px solid #222D5B;
    width: 100%;
    position: relative;
    padding: 10px;
    box-shadow: -5px 5px 10px rgba(50, 50, 50, 0.2); 
}

.services-card:hover{
    background-color:#FFFFFF;
    border: 5px solid #222D5B;
    transition: 0.3s all;
}
/* 
.services-card:first-child{
    height: 70vh;
}
.services-card:last-child{
    height: 70vh;
} */
 
.services-card:nth-child(n){
    height: 60vh;
}


ul{
    justify-content: center;
    text-align: left;
    list-style: none;
    top: 50px;
    left: 10px;
    position: relative;    
}

li{
    margin-top:10px
}




/* WORKS PAGE */



#works-header .project-banner{
    height: 50vh;
    right: 0;
    float: right;
}

#works-header .project-head{
    height: 50vh;
    right: 0;
    float: left;
    float: top;
}

.projects-title{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
    font-size: 5vh;
    color: #222D5B;
}

.projects-section{
    height: 110vh;
    position: relative;
    margin-bottom: 20vh;
    margin-top: 10vh;
}

.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vh;
    top: 5vh;
    bottom: 10vh;
    text-align: center;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.project-card{
    border: 2px solid #222D5B;
    border-radius: 10px;
    background: #ffffff;
    padding: 20px;
    box-shadow: -5px 5px 10px rgba(50, 50, 50, 0.2);
}

.descrip{
    visibility: hidden;
    transition: 1s ease;
}

.project-card:hover{
    background: #FDB717;
    transition: 1s ease;
}

.project-card:hover .descrip{
    visibility: visible;
}







/* CONTACT FORM  */



.contact-content{
    display: grid;
    grid-template-rows: 1fr 3fr;
}


.contact-section {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90vw;
    height: 60vh;
    padding: 40px;
    transform: translateY(-50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-radius: 10px;
}

.contact-section h1{
    font-size: 4vh;
    color: #222D5B;
}

.contact-section .user-box{
    position: relative;
}

.contact-section .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #222D5B;
    outline: none;
    background: transparent;
}

.contact-section .user-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FDB717;
    pointer-events: none;
    transition: .2s;
  }

.contact-section .user-box input:focus ~ label,
.contact-section .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #222D5B;
  font-size: 15px;
}

/* 
.contact-section .user-box:nth-child(2) input::before:invalid ~ label {
    top: -20px;
    left: 0;
    color: #FF0000;
    font-size: 12px;
} 
*/

.send-button{
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #222D5B;
    border-radius: 10px;
    text-decoration: none;
    color: #222D5B;
    font-size: 3vh;
}

.send-button:hover{
    background-color: #FDB717;
    transition: 0.2s ease-in-out;
}

.send-icon{
    float: left;
    height: 3vh;
}


.call-mail{
    position: absolute;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}

.call-mail div{
    padding: 20px;
    display: flex;
    align-items: center;
    

}

.call-mail img{
    height: 16px;
    margin-right: 10px;
    padding: 10px;
}







/* MOBILE RESPONSIVENESS */






@media (max-width:720px) {

    body{
        width: fit-content;
        overflow: hidden;
    }
    
    .topbar-mobile{
        display: block;
        position: absolute;
        /* margin: 10px auto 0; */
        top: 0px;
        right: 5px;
        /* left: 0px; */
        text-align: end;
        width: 100%;
        border-radius: 10px;
        height: 10vh;
        min-height: 16px;
        background: #ffffff;
        font-size: 0;
        box-shadow: 0 3px 0 0 rgba(50, 50, 50, 0.2);
        z-index: -1;
    }

    .show-menu-btn{
        display: block;
        z-index: 20;
    }

    .animate{
        display: none;
    }
    .nav-items{
        position: fixed;
        width: 75%;
        height: 80vh;
        background: #ffffff;
        right: -100%;
        top: 10vh;
        border-radius:10px;
        border: 10px solid;
        border-color: #FDB717;
        text-align: center;
        padding-top: 50px 0;
        line-height: normal;
        transition: 0.3s;
        box-shadow: -10px 10px 10px 0 rgba(50, 50, 50, 0.2);
    }

    .nav-item{
        display: block;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
    }

    .nav-item:hover{
        background: #FDB717;
        width: 75%;
        border-radius: 20px;
        transition: 0.2s;
    }

    #chk:checked~.nav-items{
        right: 0;
    }

    .home-section{
        display:grid;
        position: relative;
        height: 100%;
        /* grid-template-columns: repeat(auto-fit, 1fr); */
    }
    .specc{
        width: 70%;
        height: 70%;
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%); */
    }

    .services-cards{
        position: relative;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        
    }

    .project-cards{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    #works-header .project-banner{
        display: none;
    }

    footer{
        display: none;
    }


} 



footer {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0;
    bottom: 0;
    min-height: 5vh;
    font-size: 2vh;
    width: 100%;
    background-color:white;
    color: black;
    text-align: left;
    
}

.footer-text{
    margin-left: 5vh;
}


.social-btns{
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 5vh;
    bottom: 0px;
    margin-bottom: 0;
}

.fb-btn, .ig-btn, .tw-btn, .in-btn{
    height: 5vh;
    margin-left: 5vh;
    
}






