*{
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --navbarheight: 100px;
}

html{
    min-width: 720px;
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

header img{
    position: absolute;
    top: 20px;
    left: 30px;
    height: 70px;
}

header nav{
    position: relative;
    /* margin: 10px auto 0; */
    top: 0px;
    right: 20px;
    text-align: end;
    width: 100%;
    border-radius: 10px;
    height: var(--navbarheight);
    padding-bottom: 10px;
    background: #FFFFFF;
    font-size: 0;
    box-shadow: 0 5px 0 0 rgba(50, 50, 50, 0.2);
}

header nav a{
    font-size: 16px;
    font-weight: 600;
    min-width: 100px;
    text-transform: uppercase;
    color: #1B69B4;
    position: relative;
    top: 10px;
    text-decoration: none;
    line-height: var(--navbarheight);
    z-index: 1;
    display: inline-block;
    text-align: center;
}

header nav .animate{
    position: absolute;
    height: 70%;
    top: 20px;
    z-index: 0;
    background: #FDB717;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
}

header a:nth-child(1){
    width: 120px;
}

header nav .top-bar,a:nth-child(1):hover~.animate{
    /* width: 100px; */
    right: 360px;
    min-width: 120px;
}

header a:nth-child(2){
    width: 120px;
}

header nav .top-bar,a:nth-child(2):hover~.animate{
    /* width: 100px; */
    right: 240px;
    min-width: 120px;
}

header a:nth-child(3){
    width: 120px;
}

header nav .top-bar,a:nth-child(3):hover~.animate{
    /* width: 100px; */
    right: 120px;
    min-width: 120px;
}

header a:nth-child(4){
    width: 120px;
}

header nav .top-bar,a:nth-child(4):hover~.animate{
    /* width: 100px; */
    right: 0px;
    min-width: 120px;
}


.footer-text{
    text-align: center;
    margin-top: -50px;
    z-index: 2;
}

.specc{
    position: relative;
    top: 2vh;
    width: 35%;
    min-width: 600px;
}

#home-section{
    position: relative;
    top: 99px;
    width: 100%;
    height: 100vh;
    background-image: url("banner02.png");
    background-size: cover;
    background-position-y: 20px;
}

#services-section{
    height: 100vh;
    position: relative;
    top:150px;
}

.services-header{
    font-size: 64px;
    font-weight: 600;
    color: #222D5B;
    margin-left: 100px;
    margin-top: 100px;
}

.services-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    justify-items: center;
    
    grid-gap: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #222D5B; 
    position: absolute;
    left: 20px;
    right: 20px;
    top: 150px;
    margin-bottom: 100px;
}

.services-card{
    background-color: #FDB717;
    border-radius: 20px;
    border-color: #FDB717;
    width: 100%;
}

.services-card:first-child{
    height: 400px;
}
.services-card:last-child{
    height: 400px;
}


.services-details{
    justify-content: center;
    text-align: center;
    list-style: none;
    
}


@media (max-width:750px) {
    nav a{
        visibility: hidden;
    }
} 