*{
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --navbarheight: 10vh;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 11vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


body{
    margin-top: 10vh;
}



/*HEADER SECTION : NAVIGATION BAR*/



.topbar-mobile{
    display: none;
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

header img{
    position: fixed;
    top: 1vh;
    left:2vh;
    z-index: 10;
    /* height: 70px; */
    height:8vh;
}

header nav{
    position: absolute;
    /* margin: 10px auto 0; */
    top: 0px;
    right: 10px;
    /* left: 0px; */
    text-align: end;
    width: 100%;
    border-radius: 5px;
    height: var(--navbarheight);
    min-height: 32px;
    background: #FFFFFF;
    font-size: 0;
    box-shadow: 0 3px 0 3px rgba(50, 50, 50, 0.2);
}

.nav-item{
    font-size: medium;
    font-weight: 600;
    min-width: 100px;
    text-transform: uppercase;
    color: #1B69B4;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 0px;
    text-decoration: none;
    line-height: var(--navbarheight);
    z-index: 1;
    display: inline-block;
    text-align: center;
}


header nav .animate{
    position: absolute;
    height: 80%;
    padding-right: 10px;
    padding-left: 10px;
    top: 10%;
    bottom: 10%;
    z-index: 0;
    background: #FDB717;
    border-radius: 10px;
    border: 1px solid #222D5B;
    transition: all 0.4s ease 0s;
}

header a:nth-child(n){
    width: 150px;
}


header nav .top-bar,a:nth-child(1):hover~.animate{
    right: 510px;
    min-width: 150px;
}

header nav .top-bar,a:nth-child(2):hover~.animate{
    right: 340px;
    min-width: 150px;
}

header nav .top-bar,a:nth-child(3):hover~.animate{
    right: 170px;
    min-width: 150px;
}

header nav .top-bar,a:nth-child(4):hover~.animate{
    right: 0px;
    min-width: 150px;
}




#check{
    display: none;
}

.show-menu-btn{
    transition: 0.4s;
    font-size: 5vh;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 2.5vh;
    top: 2.5vh;
}

.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #FDB717;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -10;
}



/* HOME SECTION */



#home-section{
    position: absolute;
    top: var(--navbarheight);
    width: 100vw;
    background-repeat: no-repeat;
    top: 10vh;
    height: 100%;
    background-image: url("assets/banner01.svg");
    background-size: cover;
}

.specc{
    position: relative;
    top: 10vh;
    left: 10vh;
    height: 60%;
    width: 30%;
}



/* SERVICES SECTION */



#services-section{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 111vh;
}

.services-header{
    font-size: 6vh;
    color: #222D5B;
    margin-left: 5%;
    margin-top: 2vh;
}

.services-cards{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px,1fr)); */
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 50px;
    text-align: center;
    /* font-size: 24px; */
    font-size: 2vh;
    font-weight: 400;
    color: #222D5B; 
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    margin-bottom: 100px;
}

.services-card{
    background-color: #FDB717;
    border-radius: 10px;
    border: 2px solid #222D5B;
    width: 95%;
    position: relative;
    padding: 10px;
    box-shadow: -5px 5px 10px rgba(50, 50, 50, 0.2); 
}

.services-card:hover{
    background-color:#FFFFFF;
    border: 5px solid #222D5B;
    transition: 0.3s all;
}

 
.services-card:nth-child(n){
    /* height: 40vh; */
    padding-top: 5vh;
    padding-bottom: 10vh;
}


ul{
    justify-content: center;
    text-align: left;
    list-style: none;
    top: 50px;
    left: 10px;
    position: relative;    
}

li{
    margin-top:10px
}




/* WORKS PAGE */



#works-header .project-banner{
    height: 50vh;
    right: 0;
    float: right;
}

#works-header .project-head{
    position: absolute;
    left: 10px;
    height: 50vh;
    right: 0;
    float: left;
    float: top;
}


.projects-section{
    /* height: 110vh; */
    position: relative;
    margin-bottom: 20vh;
    margin-top: 10vh;
}

.project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
    top: 5vh;
    bottom: 10vh;
    text-align: center;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.project-card{
    border: 2px solid #222D5B;
    border-radius: 10px;
    background: #ffffff;
    padding: 20px;
    padding-top: 5vh;
    padding-bottom: 10vh;
    box-shadow: -5px 5px 10px rgba(50, 50, 50, 0.2);
}

.descrip{
    visibility: hidden;
    transition: 1s ease;
}

.project-card:hover{
    background: #FDB717;
    transition: 1s ease;
}

.project-card:hover .descrip{
    visibility: visible;
}







/* CONTACT FORM  */



.contact-section {
    position: relative;
    top: 20vh;
    left: 5%;
    width: 90%;
    height: 75vh;
    padding: 40px;
    /* margin-top: 50px; */
    margin-bottom: 10vh;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    border-radius: 10px;
}

.contact-section h1{
    font-size: 4vh;
    color: #222D5B;
}

.contact-section .user-box{
    position: relative;
}

.contact-section .user-box input,
.contact-section .user-box textarea{
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #222D5B;
    outline: none;
    background: transparent;
}

.contact-section .user-box label{
    position: absolute;
    top:1vh;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #FDB717;
    pointer-events: none;
    transition: .2s;
  }

.contact-section .user-box input:focus ~ label,
.contact-section .user-box input:valid ~ label,
.contact-section .user-box:nth-child(3) textarea:focus~label,
.contact-section .user-box:nth-child(3) textarea:valid~label {
  top: -20px;
  left: 0;
  color: #222D5B;
  font-size: 15px;
}

/* 
.contact-section .user-box:nth-child(2) input::before:invalid ~ label {
    top: -20px;
    left: 0;
    color: #FF0000;
    font-size: 12px;
} 
*/

.send-button{
    position: absolute;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #222D5B;
    border-radius: 10px;
    text-decoration: none;
    color: #222D5B;
    font-size: 3vh;
}

.send-button:hover{
    background-color: #FDB717;
    transition: 0.2s ease-in-out;
}

.send-icon{
    float: left;
    height: 3vh;
}


.call-mail{
    position: absolute;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    min-width: 100%;
    text-align: center;
}

.call-mail div{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.call-mail img{
    height: 16px;
    margin-right: 10px;
    padding: 10px;
}



/* FOOTER TEXT */


footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 5vh;
    font-size: 2vh;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 5px 0 5px 1px #101010;
    color: black;
    
}

.footer-text{
    margin-left: 5vh;
    text-align: left;
}


.social-btns{
    display: flex;
    flex-direction: row;
    justify-items: right;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

.fb-btn, .ig-btn, .tw-btn, .in-btn{
    height: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    
}




/* MOBILE RESPONSIVENESS */




@media (max-width:1024px) {

    body{
        width: fit-content;
        min-width: 100%;
        max-width: 100%;
    }
    
    .topbar-mobile{
        display: block;
        position: absolute;
        /* margin: 10px auto 0; */
        top: 0px;
        right: 5px;
        /* left: 0px; */
        text-align: end;
        width: 100%;
        border-radius: 5px;
        height: 10vh;
        min-height: 16px;
        background: #ffffff;
        font-size: 0;
        box-shadow: 0 3px 0 0 rgba(50, 50, 50, 0.1);
        z-index: -1;
    }

    .show-menu-btn{
        display: block;
        z-index: 20;
    }

    .animate{
        display: none;
    }
    .nav-items{
        position: fixed;
        width: 75%;
        height: 75vh;
        overflow-y: scroll;
        background: #eeeeee;
        right: -100%;
        top: 10vh;
        border-radius:5px;
        border: 1px solid;
        border-color:#222D5B;
        border-right: #ffffff;
        text-align: center;
        padding-top: 50px 0;
        line-height: normal;
        transition: 0.3s;
        box-shadow: -10px 10px 10px 0 rgba(50, 50, 50, 0.2);
    }

    .nav-item{
        display: block;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
    }

    .nav-item:hover{
        background: #FDB717;
        width: 75%;
        border-radius: 20px;
        transition: 0.2s;
    }

    #chk:checked~.nav-items{
        right: 0;
    }

    .home-section{
        display:grid;
        position: relative;
        height: 100%;
        /* grid-template-columns: repeat(auto-fit, 1fr); */
    }
    .specc{
        width: 70%;
        top: 0;
        left:5%;
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%); */
    }

    .services-cards{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .services-card{
        width: 90%;
    }

    .project-cards{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 20vh;
    }

    #works-header .project-banner{
        display: none;
    }


    #works-header .project-head{
        position: relative;
        height: 50vh;
        width: 95%;
        right: 0;
        float: left;
        float: top;
    }

    .call-mail{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        text-align: center;
    }

    .call-mail div{
        justify-content: left;
        margin-left: 5%;
    }

    .contact-section{
        box-shadow: 0 0 0 0 ;
    }

    .contact-section h1{
        font-size: 4vh;
        color: #222D5B;
        margin-top: 10vh;
    }

    footer{
        grid-template-columns: repeat(auto-fit, minmax(100vw,1fr));
    }

    .footer-text{
        text-align: center;
        margin-left: unset;
    }

    .social-btns{
        justify-content: center;
    }

    

} 

